{% extends 'layout.html.twig' %}

{% block title %}Add Persons!{% endblock %}

{% block body %}
<div class="alert alert-info">
{#{{ form(form) }}#}
{{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="col">
            {{ form_row(form.firstname) }}
        </div>
    </div>
    {{ form_rest(form) }}
</div>

{% endblock %}
